<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.relicemxd.leanrrv"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="com.example.relicemxd.happysong.InfoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/zan_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--在下面activity 不应该添加 theme 否则没沉淀式效果-->
        <activity
            android:name="com.example.relicemxd.happysong.smile.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.relicemxd.happysong.smile.ui.EditTextActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.relicemxd.happysong.smile.ui.PhotoViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <!-- 友盟配置文件(会被Application里的方法覆盖) -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>
    </application>

</manifest>
